---
layout: base.njk
bodyClass: post-template-default single single-post single-format-standard wp-embed-responsive wp-theme-minimalio
---
<div class="wrapper" id="single-wrapper">
  <div class="single-post">
    <div class="single-post__content container" id="content" tabindex="-1">
      <div class="row">
        <div class="lg:grow lg:shrink-0 lg:basis-0 content-area" id="primary">
          <main class="site-main" id="main">
            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
              <header class="entry-header"></header>
              <div class="entry-content">
{{ content | safe }}
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
